.card-container {
    display:  flex;
    flex-direction: column;
    background-color: rgb(223, 182, 132);
    border:  1px solid pink;
    padding: 20px;
    -webkit-appearance: none;
     cursor: pointer;
    -moz-osx-font-smoothing : grayscale;
    backface-visibility: hidden;
 
 transform: translateZ(0);
 transition:transform 0.25s ease-in-out;
}

img{
    width: 150px;
    height: 150px;
    width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .card-container{
    width: 100%;
    display: block;
    margin-bottom: 20px;
     margin-left: -55px;
    padding: 5px, 5px ,5px, 5px;
     
  }
};
.card-container:hover{
 background-color: aquamarine;
}
